body{
    font-family:"Montserrat", sans-serif;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.25;
    color: white;
    letter-spacing: -2px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 800;
}

.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.navbar-collapse{
    padding-bottom: 50px;
}

img{
}

.phone{
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}
@media (min-width: 751px) and (max-width:1200px){
    .phone{
        transform: rotate(0deg);
        position: static;
        margin-right: auto;
        margin-left: auto;
    }

    #title{
        text-align: center;
    }
}

@media(max-width: 750){
    .phone{
        transform: rotate(0deg);
        position: static;
        margin-right:auto;
        margin-left: auto;

        z-index: 0;
    }
   }

.nav-item{
    padding-right:20%;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat;
    font-weight: 300;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.icon{
    color: #ef8172;
    font-size: 5rem;
    padding: 100px 0 20px 0;
}

.icon:hover{
    color: #ff4c68;
}

#features {
    text-align: center;
    padding: 7% 15%;
    background-color: white;
    position: relative;
    }
.wink{

    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit:cover;
    object-position: -44px;
}

#features h3{
   font-family: 'Montserrat', sans-serif;
   font-weight: bolder;
   font-size: 1.5rem;
}

#features p{
    color: #8f8f8f;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text{
    padding: 0 10px 0 10px;
    text-align: center;
}

.testimonial-image{
    border-radius: 100%;
    width: 150px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 12%;
    margin: 20px 20px 20px 0;
}

.carousel-item{
    padding: 7% 15% 7% 15%;
}
.card-deck{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}
.container{
    margin-top: 2rem;
}
.price{
    color: green;
}

.bone{
    font-size: 30%;
    transform: rotate(90deg);
    position: relative;
    bottom: 20px;

}
.card-body{
    padding: .5rem 1rem 1rem 1rem;
}

.box-shadow{
    box-shadow: 0 0.75rem 1.75rem rgb(0 0 0 / 15%);
}

#cta{
    background-color: #ef8172;
    text-align: center;
    align-content: center;
    padding: 2rem 2rem;
}

#footer{
    margin-top: 2rem;
    align-content: center;
    text-align:center;
}
.row{
    padding-bottom: 3rem;
}

#pricing{
    text-align: center;
}